html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
}

.Tool_Bar {
  border: solid black 5px;
  display: flex;
  padding: 5px;
  background-image: linear-gradient(to right, grey, #34c9eb);
  color: white;
}

.Homie {
  border: solid black 4px;
  text-align: center;
  padding: 5px;
  background-image: linear-gradient(to bottom, grey, #34c9eb);;
  color: white;
  display: absolute; 
}

.us {
  border: solid black 4px;
  text-align: center;
  padding: 5px;
  background-image: linear-gradient(to bottom, grey, #2db7d6);
  flex: 1;
}

.search {
  border: solid black 4px;
  text-align: center;
  padding: 5px;
  background-image: linear-gradient(to bottom, grey, #139dbd);
  flex: 1;
}

.sell {
  border: solid black 4px;
  text-align: center;
  padding: 5px;
  background-image: linear-gradient(to bottom, grey, #0e738a);
  color: white;
  flex: 1;
}

.contact {
  border: solid black 4px;
  text-align: center;
  padding: 5px;
  background-image: linear-gradient(to bottom, grey, #064c5c);
  color: white;
  flex: 1;
}

.BA {
  border: solid black 4px;
  text-align: center;
  padding: 5px;
  background-image: linear-gradient(to bottom, grey, #012c36);
  color: white;
  flex: 1;
}
.BA:hover {
  color: yellow;
  transition: 1s;
  font-size: 17px;
}

.Homie:hover {
  color: yellow;
  transition: 1s;
  font-size: 17px;
}

.us:hover {
  color: yellow;
  transition: 1s;
  font-size: 17px;
}

.search:hover {
  color: yellow;
  transition: 1s;
  font-size: 17px;
}

.contact:hover {
  color: yellow;
  transition: 1s;
  font-size: 17px;
}

.sell:hover {
  color: yellow;
  transition: 1s;
  font-size: 17px;
}

.menu {
  display: none;
}

.background {
  heigth: 1000px;
  background-image: linear-gradient(to right, #34c9eb, grey)
}

.P1 {
  height: 1000px;
  width: auto;
}

.P2 {
  height: 1000px;
  width: auto;
  padding: 15px;
}

.P3 {
  height: 1000px;
  width: auto;  
}


.loading1 {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 5px solid grey;
  border-right-color: #0009;
  animation: spin .5s linear infinite;
  position: absolute;
}


@keyframes spin {
  to{
    transform: rotate(360deg);
  }
}








.P4 {
  height: 1000px;
  width: auto;
  display: ;
  padding: 5px;
}


.name {
  border: solid black 3px;
 
}

.adress {
  border: solid black 3px;
}

.c {
  border: solid black 3px;
}

.yourc {
  border: solid black 3px;
}






.P5 {
  height: 1000px;
  width: auto;
}

.P6 {
  height: 1000px;
  width: auto;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
}

.flip1 {
  max-width: 300px;
  max-height: 300px; 
}

.flip2 {
  max-width: 300px;
  max-height: 300px; 
}

.flip3 {
  max-width: 300px;
  max-height: 300px; 
}











img {
  width: 100%;
  height: 100%;
}

.house{
  
}


.title {
  font-size: 40px;
  Color: brown;
}

.subtitles {
  font-size: 20px;
}

.text {
  font-size: 15px;
}




.shawn {
  height: 200px;
  width: 200px;
}

@media screen and (max-width: 700px) {
  
  .Tool_Bar {
  border: solid black 5px;
  display: flex;
  padding: 5px;
  background-image: linear-gradient(to right, grey, #34c9eb);
  color: white;
  height: 35px;
}

.Homie {
   display: none;
}


.us {
   display: none;
}

.search {
  display: none;
}

.sell {
   display: none;
}

.contact {
  display: none;
}

.BA {
  display: none;
}
  
.material-symbols-outlined:hover {
    font-size: 27px;
  }
 
 .material-symbols-outlined{
   background-color: #34c9eb;
 }
 
 
.menu {
  display: block;
  position: absolute;
  right: 15px;
  top: 15px;
  }
 

.icon {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 90px;
}

.icon div {
  color: black;
  padding: 5px 10px;
  display: block;
}

.icon div:hover {
  background: grey;
  padding: 5px 10px;
  display: block;
}

.showmenu {
  display: block;
  }
  
  
}
